@using GraceMissionFellowship.Helpers

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-5">
		<img class="img-thumbnail gmf-logo" src="../../Content/Images/gmf-logo.jpg" />
	</div>
	<!-- /.col-sm-5 -->
	<div class="col-md-7">
		<h2 class="featurette-heading">Grace Mission Fellowship.<br />
			<span class="text-muted">Welcome.</span></h2>
		<p class="lead">
			Our purpose is to make known the Word of God the Father, God the Son Jesus, and God the Holy Spirit, here on Earth as they are in Heaven.
		</p>
		<p><a role="button" class="btn btn-success btn-lg" href="../@(PageType.AboutUs)/">Learn more »</a></p>
	</div>
	<!-- /.col-sm-7 -->
</div>
<div class="clear"></div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Our Church</h3>
			</div>
			<div class="panel-body">
				<p>
					We are a Pentecostal Christian Church which is part of the ACC denomination - Australian Christian Churches,
					formerly Assemblies of God in Australia (AOG). We are a church which focuses on God the Father, God the Son
					(Jesus) and God the Holy Spirit.
				</p>
				<a role="button" class="btn btn-primary" href="../@(PageType.AboutUs)/">More about us »</a>
			</div>
		</div>
	</div>
	<!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Our Services</h3>
			</div>
			<div class="panel-body">
				<p>
					Our service is on Sunday mornings 10am at Dandenong North Senior Citizens Centre.
				</p>
				<p>
					As well as our Sunday services, we have "Connect Groups" in people's homes for fellowship, prayer and studying the Bible.
				</p>
				<a role="button" class="btn btn-primary" href="../@(PageType.Services)/">Services »</a>
			</div>
		</div>
	</div>
	<!-- /.col-sm-4 -->
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Our People</h3>
			</div>
			<div class="panel-body">
				<p>
					Senior Pastor Emori Sauturaga, and Associate Pastors Noah Peyroux and Karen Peyroux are committed to
					their vision of providing a fellowship that searches for the lost and brings them into the Kingdom of God.
					With friendly and loving people, we endeavour to make you feel at home with us.
				</p>
				<a role="button" class="btn btn-primary" href="../@(PageType.ContactUs)/">Contact us »</a>
			</div>
		</div>
	</div>
	<!-- /.col-sm-4 -->
</div>
<!-- /container -->

