@using GraceMissionFellowship.Helpers

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-4">
		<img class="img-thumbnail" src="../../Content/Images/placeholder.png" alt="" />
	</div>
	<div class="col-sm-8">
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Introduction</h3>
		</div>
		<p>
			Welcome to the Grace Mission Fellowship website.
		</p>
		<p>
			We are a Pentecostal Christian Church which is part of the ACC denomination - Australian Christian Churches,
			formerly Assemblies of God in Australia (AOG). We are a church that focuses on God the Father, God the Son (Jesus)
			and God the Holy Spirit, and we love people, so it is our commitment to make you feel at home with us.
		</p>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Vision</h3>
		</div>
		<p>
			To be a fellowship that searches for the lost and brings them into the Kingdom of God.
		</p>
		<div class="well">
			<p><b>Scripture: Romans 10:14-15</b></p>
			<p>
				How then can they call on the One (Jesus) they have not believed in? And how can they believe in the One
				of whom they have not heard? And how can they hear without someone preaching to them? And how can they
				preach unless they are sent? As it is written: "How beautiful are the feet of those who bring good news!".
			</p>
		</div>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Mission</h3>
		</div>
		<p>
			To save people, sharpen people and send people.
		</p>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Purpose</h3>
		</div>
		<p>
			To make known the Word of God and God the Father, God the Son (Jesus) and God the Holy Spirit, here on
			Earth as they are in Heaven.
		</p>
	</div>
</div>
<!-- /container -->
