@using GraceMissionFellowship.Helpers

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-4">
		<img class="img-thumbnail" src="../../Content/Images/placeholder.png" alt="" />
	</div>
	<div class="col-sm-8">
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Sunday Service</h3>
		</div>
		<p>
			Our service is on Sunday mornings 10am at Dandenong North Senior Citizens Centre. Please feel free to join us for the
			beautiful worship, inspiring speakers of the Word of God, and great fellowship.
		</p>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Connect Groups</h3>
		</div>
		<p>
			In addition to our Sunday morning church services, we have fortnightly "Connect Groups" in people's homes for
			fellowship, prayer and studying the Bible. Our Connect Group locations are in Dandenong, Noble Park and Pakenham.
			To find out the next meeting date and address, please <a href="../@(PageType.ContactUs)/">Contact Us</a>.
		</p>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Prayer</h3>
		</div>
		<p>
			If you have any prayer needs, our Pastors will be more than happy to help. The <a href="../@(PageType.ContactUs)/">Contact Us</a>
			page contains the contact details of our Pastors.
		</p>
	</div>
</div>
