<div class="container theme-showcase">
	@*	<div class="gmf-head gmf-header">
		<div class="gmf-heading">
			<h3 class="gmf-title">Grace Mission Fellowship</h3>
		</div>
	</div>*@
	<div class="navbar navbar-default gmf-default">
		<div class="container gmf-container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="../../Content/Images/gmf-header.png" alt="" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav gmf-nav">
					<li><a href="../Home/">Home</a></li>
					<li><a href="../About/">About Us</a></li>
					<li><a href="../Service/">Services</a></li>
					<li class="active"><a href="../Contact/">Contact Us</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="img-thumbnail" src="../../Content/Images/staticmap.png" alt="" />
		</div>
		<div class="col-sm-8">
			<div class="gmf-page-header">
				<h3 class="gmf-h3">Grace Mission Fellowship Location</h3>
			</div>
			<div>Dandenong North Senior Citizens Centre</div>
			<div>41A Latham Crescent</div>
			<div>Dandenong North VIC 3175</div>
			<div class="clear"></div>
			<div>Service time: Sundays 10am</div>
			<div class="gmf-page-header">
				<h3 class="gmf-h3">Postal Address</h3>
			</div>
			<div>49 Herbert Street</div>
			<div>Boronia VIC 3155</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="gmf-page-header">
		<h3 class="gmf-h3">Contact Details</h3>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<h4>Senior Pastor</h4>
			<div><b>Ps Emori Sauturaga</b></div>
			<div>0401 723 505</div>
			<div><a href="mozalli98@yahoo.com">mozalli98@yahoo.com</a></div>
		</div>
		<div class="col-sm-4">
			<h4>Associate Pastor</h4>
			<div><b>Ps Noah Peyroux</b></div>
			<div>0422 806 830</div>
			<div><a href="nkp2007@myacn.net.au">nkp2007@myacn.net.au</a></div>
		</div>
		<div class="col-sm-4">
			<h4>Associate Pastor</h4>
			<div><b>Ps Karen Peyroux</b></div>
			<div>0419 245 907</div>
			<div><a href="mozalli98@yahoo.com">nkp2007@tpg.com.au</a></div>
		</div>
	</div>
</div>
<!-- /container -->
<div class="clear"></div>
<div class="gmf-footer">
	<div class="container theme-showcase">
		<div class="clear"></div>
		<div class="row">
			<div class="col-sm-3 text-center">
				<h4>Site Map</h4>
				<a href="../Home/" class="footer-text">Home</a><br />
				<a href="../About/" class="footer-text">About Us</a><br />
				<a href="../Service/" class="footer-text">Services</a><br />
				<a href="../Contact/" class="footer-text">Contact Us</a>
			</div>
			<div class="col-sm-3 text-center">
				<h4>Church Services</h4>
				<div class="footer-text">Sundays 10am</div>
				<div class="footer-text">Dandenong North Senior Citizens Centre</div>
				<div class="footer-text">41A Latham Crescent</div>
				<div class="footer-text">Dandenong North VIC 3175</div>
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-3 text-center">
				<h4>Contact us</h4>
				<div class="footer-text">Ps Emori Sauturaga</div>
				<div class="footer-text">0401 723 505</div>
				<div class="footer-text"><a href="mozalli98@yahoo.com">mozalli98@yahoo.com</a></div>
				<br />
				<div class="footer-text">Ps Noah Peyroux</div>
				<div class="footer-text">0422 806 830</div>
				<div class="footer-text"><a href="nkp2007@myacn.net.au">nkp2007@myacn.net.au</a></div>
				<br />
				<div class="footer-text">Ps Karen Peyroux</div>
				<div class="footer-text">0419 245 907</div>
				<div class="footer-text"><a href="mozalli98@yahoo.com">nkp2007@tpg.com.au</a></div>
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-3 text-center">
				<h4>Australian Christian Churches</h4>
				<img class="img-thumbnail" src="../../Content/Images/logo.gif" />
			</div>
			<!-- /.col-sm-4 -->
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link href="../../Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="../../Content/theme.css" rel="stylesheet" />


