@using GraceMissionFellowship.Helpers

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-sm-4">
		<img class="img-thumbnail" src="../../Content/Images/staticmap.png" alt="" />
	</div>
	<div class="col-sm-8">
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Grace Mission Fellowship Location</h3>
		</div>
		<div>Dandenong North Senior Citizens Centre</div>
		<div>41A Latham Crescent</div>
		<div>Dandenong North VIC 3175</div>
		<div class="clear"></div>
		<div>Service time: Sundays 10am</div>
		<div class="gmf-page-header">
			<h3 class="gmf-h3">Postal Address</h3>
		</div>
		<div>49 Herbert Street</div>
		<div>Boronia VIC 3155</div>
	</div>
</div>
<div class="clear"></div>
<div class="gmf-page-header">
	<h3 class="gmf-h3">Contact Details</h3>
</div>
<div class="row">
	<div class="col-sm-4">
		<h4>Senior Pastor</h4>
		<div><b>Ps Emori Sauturaga</b></div>
		<div>0401 723 505</div>
		<div><a href="mozalli98@yahoo.com">mozalli98@yahoo.com</a></div>
	</div>
	<div class="col-sm-4">
		<h4>Associate Pastor</h4>
		<div><b>Ps Noah Peyroux</b></div>
		<div>0422 806 830</div>
		<div><a href="nkp2007@myacn.net.au">nkp2007@myacn.net.au</a></div>
	</div>
	<div class="col-sm-4">
		<h4>Associate Pastor</h4>
		<div><b>Ps Karen Peyroux</b></div>
		<div>0419 245 907</div>
		<div><a href="mozalli98@yahoo.com">nkp2007@tpg.com.au</a></div>
	</div>
</div>
<!-- /container -->
